<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chapter.name %>
</p>

<p>
  <b>Description:</b>
  <%= @chapter.description %>
</p>

<p>
  <b>Language:</b>
  <%= @chapter.language %>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
